version: 0.2

phases:
  install:
    runtime-versions:
      python: 3.7
    commands:
      - python -v
      - apt-get install wget -y
      - TERRAFORM_VERSION="1.3.8"
      - wget https://releases.hashicorp.com/terraform/"$TERRAFORM_VERSION"/terraform_"$TERRAFORM_VERSION"_linux_amd64.zip
      - unzip terraform_"$TERRAFORM_VERSION"_linux_amd64.zip
      - mv terraform /usr/local/bin/
      - ls
  build:
    commands:
      - terraform --version
      - terraform init -input=false
      - terraform validate
      - terraform plan -lock=false -input=false